<div class="mt4">
    <h1>Khu lưu trữ</h1>
    <a href="/admin/admin">Quay lại</a>

    <a class="btn btn-primary w-100 my-3" type="button" data-bs-toggle="collapse" data-bs-target="#city" aria-expanded="false" aria-controls="collapseExample">
                Thành phố
                
    </a>

    <div class="collapse" id="city">
      <table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Tên điểm đến</th>
      <th scope="col">Mô tả điểm đến</th>
      <th scope="col">Đơn vị hành chính</th>
      <th scope="col">Thời gian xóa</th>
      <th scope="col" colspan="2"></th>
      
    </tr>
  </thead>
  <tbody>
        {{#each city}}
    <tr>
      <th scope="row">{{sum @index 1}}</th>
      <td>{{this.name}}</td>
      <td>{{this.description}}</td>
      <td>{{this.admini_unit}}</td>
      <td>{{this.deletedAt}}</td>
      <td scope="col" colspan="2">
        <a class="text-decoration-none pe-5 btn-restore"  data-bs-id="{{this.slug}}">Phục hồi</a>
        <a class="text-decoration-none"  data-bs-toggle="modal" data-bs-target="#delete-course-modal" data-bs-id="{{this.slug}}">Xóa</a>
      </td>
    </tr>
      {{else}}
        <tr>
          <td colspan="5">Thùng rác trống.  <a href="/admin/create">Xóa tại đây</a> </td>
        </tr>
      {{/each}}

  </tbody>
    </table>
    </div>
    
</div>


{{!-- Delete Hidden Form --}}
<form name="delete-form" method="POST"></form>
<form name="restore-form" method="POST"></form>


<div class="modal fade" id="delete-course-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Xóa khóa học?</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Bạn có chắc chắn muốn xóa khóa học.
      </div>
      <div class="modal-footer">
        <button type="button" id="btn-delete" class="btn btn-danger" >Xóa</button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>
      </div>
    </div>
  </div>
</div>



<script>
  let deleteCourseModal = document.getElementById('delete-course-modal')
  let btnDelete = document.getElementById('btn-delete')
  let deleteForm = document.forms['delete-form'] 
  let restoreForm = document.forms['restore-form']
  let btnRestore = document.querySelectorAll('.btn-restore')
  let id


  deleteCourseModal.addEventListener('show.bs.modal', function (event) {
    // Button that triggered the modal
    var button = event.relatedTarget
    // Extract info from data-bs-* attributes
    id = button.getAttribute('data-bs-id')
  })

 for(let x of btnRestore){
       x.onclick = function(e){
        e.preventDefault()
        let Id=x.getAttribute('data-bs-id')
        console.log(Id)
        restoreForm.action = '/admin/'+ Id + '/restore?_method=PATCH'
        restoreForm.submit()
        
      } 
    }


    btnDelete.onclick = function(){
      console.log(id)
      deleteForm.action = '/admin/' + id + '/deleteForce?_method=DELETE'
      deleteForm.submit();
    }

</script>